body{
    font-family: Open Sans,sans-serif;
    margin: 0;
}
/*slider style*/
@media (max-width: 1200px){
    #slides{
        height: 27vh;
    }
}
@media (min-width: 1366px){
    #slides{
        height: 69vh;
    }
}
@media (min-width: 1200px) and (max-width: 1366px){
    #slides{
        height: 69vh;
    }
}

#slides{
    position: relative;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    margin-bottom: 3vh;
}

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing{
    opacity: 1;
    z-index: 2;
}

.slide{
    box-sizing: border-box;
    background-size: cover;
    background-position-x: center;
}

.slide:nth-of-type(1){
    background-image: url("image/oneSlider.jpg");
}
.slide:nth-of-type(2){
    background-image: url("image/twoSlider.jpg");
}
.slide:nth-of-type(3){
    background-image: url("image/oneSlider.jpg");
}
.slide:nth-of-type(4){
    background-image: url("image/twoSlider.jpg");
}
.slide:nth-of-type(5){
    background-image: url("image/oneSlider.jpg");
}

/********/


.pageContent{
    display: grid;
    box-sizing: border-box;
}

.header{
    margin-left: 3.5vw;
}

@media (max-width: 1200px){
    .header{
        margin-top: 2.2vh;
        margin-bottom: 2.2vh;
    }
}

@media (min-width: 1366px){
    .header{
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
}


@media (max-width: 1200px){
    svg{
        height: 5vh;
    }
}

@media (min-width: 1366px){
    svg{
        height: 6.2vh;
    }
}


.hr{
    border-bottom: 1px solid gray;
    width: 50vw;
    position: relative;
    margin-left: 25%;
}

.container{
    /*border-top: 1px solid darkgray;*/
    padding-top: 3vh;
}

.containerPlace{
    position: relative;
    transition: height .6s;
    transition-delay: .6s;
}

.promoMobile{
    position: relative;
}

@media (max-width: 1200px){
    .promoMobile{
        height: 35vh;
    }
}

@media (min-width: 1366px){
    .promoMobile{
        height: 58vh;
    }
}

.img{
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    height: 100%;
    width: 100%;
}

.containerAbout{
    display: grid;
    margin-top: 4vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.textAbout{
    margin-left: 7vw;
}

.title{
    font-size: 3.6vh;
}

@media (max-width: 1200px){
    .shortDescription{
        font-size: 1vh;
    }
}

@media (min-width: 1366px){
    .shortDescription{
        font-size: 2.2vh;
    }
}

@media (max-width: 1200px){
    .detailDescription{
        font-size: 1vh;
    }
}

@media (min-width: 1366px){
    .detailDescription{
        font-size: 2.2vh;
    }
}

.detailDescription{
    margin-left: 7vw;
    line-height: normal;
}

